.parent{
    background-color:#eee;
    margin : auto;
    outline : 2px solid gray;
    width:30%;
    height:300px;
  }
  .div1style{
    background-color : red;
    width:33.3%;
    height:100px;
  }
  .div2style{
    background-color : blue;
    width:33.3%;
    height:100px;
    margin-left:33.2%
  }
  .div3style{
    background-color : green;
    width:33.3%;
    height:100px;
    margin-left:66.6%
  }